<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style.css')}}"/>

</head>
<body>
<div  style="border: 5px solid black;
margin: 358px;
padding: 18px;" >
  <form action="/results" method='post' id="applicationForm">
    
    <label for="yourName">Your Name</label>
    <input type="text" id="yourName" name="name"/><br><br>
    
  </form>
  Dojo Location:<select name="schoolLocation" form="applicationForm">
        <option value="Chicago">Chicago</option>
        <option  value="Schaumburg">Schaumburg</option>
    </select><br><br>
  Favorite Language: <select name="favLanguage"  form="applicationForm">
        <option value="Java">Java</option>
        <option  value="python">python</option>
    </select><br><br>
    Comment (optional)<br><br>
    <textarea name="comments" form="applicationForm"></textarea><br><br>
    <input type="submit" value="getUsers" form="applicationForm" />

</div>
</body>
</html>


